
@{
    ViewData["Title"] = "CartEmpty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Current Cart Was Succesfully Empty!</h1>
<a href="../Home" style="margin:5px" class="btn btn-primary">Continue Shopping</a>

