@model IEnumerable<DataModels.Cart>
@{
    ViewData["Title"] = "View Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>View Cart</h1>
<div class="table-responsive-sm" style="text-align:left">
    <table class="table table-sm" style="width:500px;height:auto;text-align:center">
        <thead>
            <tr>
                <th>
                    Menu Item
                </th>
                <th>
                    <div style="text-align:center">Price</div>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cart_menu)
                    </td>
                    <td>
                        <div style="text-align:right">$@item.Cart_menu_price.ToString("0.00")</div>
                    </td>
                </tr>
            }
            <tr>
                <td style="text-align:right">
                    <b>SubTotal:</b>
                </td>
                <td>
                    <div style="text-align:right"><b>$@Model.ElementAtOrDefault(0).Cart_Sub_Total.ToString("0.00")</b></div>
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    <b>Service Tax:</b>
                </td>
                <td>
                    <div style="text-align:right"> <b>$@Model.ElementAtOrDefault(0).Cart_Total_Tax.ToString("0.00")</b></div>
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    <b>Total:</b>
                </td>
                <td>
                    <div style="text-align:right"><b>$@Model.ElementAtOrDefault(0).Cart_Total.ToString("0.00")</b></div>
                </td>
            </tr>
        </tbody>

    </table>
    <a href="../StoreMenu?StoreId=@Model.ElementAtOrDefault(0).Cart_store_id" style="margin:5px" class="btn btn-primary">Continue Shopping</a>
    <a href="../Cart/Payment" class="btn btn-primary" style="margin:5px">Check Out</a>
    <a href="/Cart/EmptyCart" class="btn btn-primary" style="margin:5px">Cart Empty</a>
</div>
<div style="text-align:center">
    
</div>