@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Week3_FormCreation.Models.DeliveryLogin
@{
    ViewData["Title"] = "SignOut";
    Layout = "~/Views/Shared/_LayoutDeliveryLoginRegister.cshtml";
}

<h1>SignOut</h1>

